body {
  background: linear-gradient(70deg, #e6edfa9c 0%, #fcf3f3a9 100%); 
  z-index: -10;
  font-family: 'Cabin', serif;
}

.site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr); 
}  