/* Color theme define for vueform */
:root { 
  --slider-connect-bg: #000000; 
  --slider-handle-bg: #000000; 
  --slider-tooltip-bg: #b11414;
  --slider-tooltip-color: #fff;
}

body {
  background-color: #f4f6f8;
  z-index: -10;
  font-family: 'Cabin', serif;
}

.site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr); 
}  


 
.btn-discover-wrapper {
  display: inline-block;
  filter: drop-shadow(3px 3px 0px #b11414);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.btn-discover-wrapper:hover {
  filter: none;
  transform: translateY(-2px);
}

.btn-discover {
  padding: 16px 40px;
  background: #f8fafd;
  color: rgb(0, 0, 0);
  font-weight: 600;
  border-radius: 0;
  border: 1px solid black;
  clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 100%, 0 100%);
  transition: all 0.3s ease;
}

.btn-discover:hover {
  background-color: #b11414;
  color: white;
  border: 1px solid transparent;
}



.btn-view {
  padding: 10px 40px;
  background: #f8fafd;
  filter: drop-shadow(3px 3px 0px #b11414);
  color: #000000;
  font-weight: 600;
  border-radius: 0;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.btn-view:hover {
  background-color: #b11414;
  filter: none;
  transform: translateY(-2px);
  color: white;
  border: 1px solid transparent;
}



.previous-item .page-link, 
.next-item .page-link,
.previous-item .page-link:hover, 
.next-item .page-link:hover {
  background-color: transparent !important; 
  border-radius: 0px !important;
  color: white ; 
  background-color: #b11414 !important;
  text-decoration: none;
  border: none;
  cursor: pointer;
} 

.disabled .page-link, .disabled .page-link:hover { 
  background-color: #dadada !important; 
  border: none;
  color: #555555; 
}